.slider{
    position: relative;
    margin: auto;
    top: 47px;
  }
  
  .slider__page{
    display: none;
  }
  
  .slider__page img{
    position: relative;
    width:100%;
    height: 700px;
  }
  
  .slider__prev, .slider__next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  .slider__next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .slider__prev:hover, .slider__next:hover {
    background-color: #126CF4;
  }
  
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #c2dfed;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #126CF4;
  }