{% extends 'base.html' %}

{% block title %} {{view.title}} {% endblock %}

{% block content %}

<h1> {{view.title}} </h1>
{% if behavior != "error" %}
    <form method="post">{% csrf_token %}
        
        <p>Sicuro di voler approvare l'utente {{ object.username }}?</p>
        
        <input type="submit" value="Conferma">
        <!-- TODO aggiungere pulsante annulla -->
    </form>
{% else %}
    <h2>Errore</h2>
    <a href="{% url 'authorize' %}"><button type="button">Indietro</button></a>
{% endif %}

{% endblock content %}