{% extends 'base.html' %}

{% block title %} {{view.title}} {% endblock %}

{% block content %}

<h1> {{view.title}} </h1>

<div>
    <table>
        <tr>
            <th>Utente</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Autorizza</th>
        </tr>

        {% for l in object_list|dictsort:"username" %}
        <tr>
            <th><p>{{l.username}}</p></th>
            <th><p>{{l.first_name}}</p></th>
            <th><p>{{l.last_name}}</p></th>
            <th><a href="{% url 'approve' l.pk %}"><button type="button">Autorizza</button></a></th>
        </tr>

        {% endfor %}
    </table>

</div>

{% endblock content %}
