<!DOCTYPE html>
<html lang="it">
<head>
    {% load static %}
    
    <meta charset="UTF-8">
    <link href="{% static 'css/styleSlider.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    {% block head %} {% endblock %}

    <title> {% block title %}{% endblock %}</title>
</head>
<body>
    {% include "navbar.html" %}
    <div>
    {% block content %}

    {% endblock %}
    </div>
    {% block js_files %}
    
    {% endblock %}
</body>
</html>
