{% extends 'base.html' %}

{% block title %} {{view.title}} {% endblock %}

{% block content %}

<h1> {{view.title}} </h1>

<br>

<form method="post">{% csrf_token %}
     
    <p>Sicuro di voler cancellare "{{ object }}"?</p>
     
    <input type="submit" value="Elimina">
    <!-- TODO aggiungere pulsante annulla -->
</form>   

{% endblock %}