{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
{% for t in Team.objects.all %}
{{t}}
{% endfor%}
{% if user.is_authenticated %}
    <h1>Benvenuto {{user.username}}</h1>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">logout</button>
    </form>
    {% include "slider.html" %}<br><br>
    <a href="{% url 'squadre:prefteam' user.pk %}">
        <button type="button">Scegli squadra da seguire</button> 
    </a>
    {% if user.follow.team != None and user.follow.team != "" %}
        <p>Attualmente stai seguendo {{user.follow.team}}</p>
        <a href="{% url 'squadre:games' %}">
            <h2>Calendario partite da disputare per {{user.follow.team}}</h2>
        </a>
    {% else %}
        <a href="{% url 'squadre:games' %}">
            <h2>Calendario partite da disputare</h2>
        </a>
    {% endif %}
    <ul>
    {% for l in games %}
        {% include "squadre/gameBody.html" with object=l %}
    {% endfor %}
    </ul>
{% else %}
    <h1>Benvenuto</h1>
    <a href="{% url 'login' %}">
        <button type="button">Login</button> 
    </a> 
    <a href="{% url 'register' %}">
        <button type="button">Registrati</button> 
    </a>
    {% include "slider.html" %}<br><br>
    <a href="{% url 'squadre:games' %}">
        <h2>Calendario partite da disputare</h2>
    </a>
    <ul>
    {% for l in games %}
        {% include "squadre/gameBody.html" with object=l %}
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}

{% block js_files %}
{% load static %}
<script type="text/javascript" src="{% static 'scripts/scriptSlider.js'%}"></script>
{% endblock %}