{% extends 'base.html' %}

{% block title %} {{view.title}} {% endblock %}

{% block content %}

<h1> {{view.title}} </h1>

<br>

<form method="post" enctype="multipart/form-data">{% csrf_token %}
     
    {{ form.as_p }}
     
    <input type="submit" value="Conferma">
    <!-- TODO aggiungere pulsante annulla -->
</form>   

{% endblock %}