<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Atletico rolo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'bacheca:announcements' %}">Bacheca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'bacheca:posts' %}">Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'squadre:games' %}">Partite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'squadre:teams' %}">Squadre</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Società
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'societa:members' %}">Organigramma</a></li>
            <li><a class="dropdown-item" href="{% url 'societa:sponsors' %}">Sponsor</a></li>
          </ul>
        </li>

      </ul>
      {% if user.is_authenticated %}
          <form class="d-flex" method="post" action="{% url 'logout' %}">{% csrf_token %}
            <button class="btn btn-danger" type="submit">Logout</button>
          </form>
      {% else %}
      <form class="d-flex" method="post" action="{% url 'login' %}">{% csrf_token %}
        <button class="btn btn-warning" type="submit">Login</button>
      </form>
      <form class="d-flex" method="post" action="{% url 'register' %}">{% csrf_token %}
        <button class="btn btn-success" type="submit">Registrati</button>
      </form>
      {% endif %}
    </div>
  </div>
</nav>