{% if images|length > 0 %}
    <div class="slider">
        {% for i in images %}
            {% if i != NULL and i != '' %}
                <div class="slider__page animate-slider">
                    <img src="{{i}}" alt="Immagine">
                </div>
            {% endif %}    
        {% endfor %}

        <div style="text-align:center">
            {% for n in range %}
                <span class="dot" onclick="currentSlide({{n}})"></span>
            {% endfor %}
        </div>
    </div>
{% endif %}