{% extends 'base.html' %}

{% block title %} Successo {% endblock %}

{% block content %}

<h1> Operazione inoltrata correttamente </h1>
<br>
<a href="{% url back_url %}"><button type="button">Continua</button></a>

{% endblock %}