{% extends 'base.html' %}

{% block title %} Registrazione {% endblock %}

{% block content %}

<h1>Registrazione</h1>

<form method="post"> {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Registrati">
    </form>
{% endblock %}