{% extends 'base.html' %}

{% block title %} {{view.title}} {% endblock %}

{% block content %}

<h1> {{view.title}} </h1>

<div>
{% for l in object_list|dictsort:"surname" %}
<ul>
    <!-- TODO suddividere i soci in base al ruolo-->
    {% if l.picture != NULL and l.picture != '' %}
    <img src="{{l.picture.url}}" alt="foto" height="100" width="100">
    {% endif %}
    <p>Ruolo: {{l.role}}</p>
    <p>{{ l.name }} {{ l.surname }}</p>
</ul>
{% endfor %}
</div>

{% if user.is_staff %}
  <div>
    <a href="{% url 'societa:createmember' %}"> <input type="button" value="Aggiungi un socio all'organigramma"></a>
    
    <br><br>
    
    <form action="{% url 'societa:adminclub' %}">
        <label for="MemberDel">Scegli un socio da ELIMINARE:</label>
        <select name="delmember" id="Memberdel">
          {% for l in object_list %}
    
          <option value="{{ l.pk }}">{{l.surname}} {{l.name}}</option>
    
          {% endfor %}
        </select>
        <br>
        <input type="submit" value="Elimina">
    </form>
    
    <br><br>
    <form action="{% url 'societa:adminclub' %}">
      <label for="MemberMod">Scegli un socio da MODIFICARE:</label>
      <select name="modmember" id="Membermod">
        {% for l in object_list %}
    
        <option value="{{ l.pk }}">{{l.surname}} {{l.name}}</option>
    
        {% endfor %}
      </select>
      <br>
      <input type="submit" value="Modifica">
    </form>
  </div>
{% endif %}
{% endblock content %}