{% extends 'base.html' %}

{% block title %} {{view.title}} {% endblock %}

{% block content %}

<h1> {{view.title}} </h1>

<div>
{% for l in object_list|dictsort:"name" %}
<div class="card" style="width: 18rem;">
  {% if l.logo != NULL and l.logo != '' %}
  <img src="{{l.logo.url}}" alt="logo" class="card-img-top">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ l.name }}</h5>
    <p class="card-text">{{ l.description }}</p>
    <a href="{{ l.website }}" class="btn btn-primary">Sito wbe</a>
  </div>
</div>
<br>
{% endfor %}
</div>

{% if user.is_staff %}
  <div>
  <a href="{% url 'societa:createsponsor' %}"> <input type="button" value="Aggiungi uno sponsor"></a>

  <br><br>

  <form action="{% url 'societa:adminclub' %}">
      <label for="SponsorDel">Scegli uno sponsor da ELIMINARE:</label>
      <select name="delsponsor" id="Sponsordel">
        {% for l in object_list %}

        <option value="{{ l.pk }}">{{l.name}}</option>

        {% endfor %}
      </select>
      <br>
      <input type="submit" value="Elimina">
  </form>

  <br><br>
  <form action="{% url 'societa:adminclub' %}">
    <label for="SponsorMod">Scegli un socio da MODIFICARE:</label>
    <select name="modsponsor" id="Sponsormod">
      {% for l in object_list %}

      <option value="{{ l.pk }}">{{l.name}}</option>

      {% endfor %}
    </select>
    <br>
    <input type="submit" value="Modifica">
  </form>
  </div>
{% endif %}
{% endblock content %}