{% extends 'base.html' %}

{% block title %} Convocazione {% endblock %}

{% block content %}

<h1> Convocazione {{game}} </h1>
<ul>
    {% for l in object_list|dictsort:"last_name" %}

    <li>{{l.last_name}} {{l.first_name}} nato il {{l.birthday}}</li>

    {% endfor %}
</ul>

{% endblock %}