{% extends 'base.html' %}

{% block title %} Partite {% endblock %}

{% block content %}

<h1> Lista partite </h1>

<form action="{% url 'squadre:games' %}" method="POST"> {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Esegui"><br><br>
    <p>Pagina:</p>
    {% for i in range %}
        {% if i == page %}
            {{i}} 
        {% else %}
            <input type="submit" name="page" value="{{i}}">
        {% endif %}
    {% endfor %}
    <br>
</form>
<br>
<ul>
{% for l in object_list %}
    {% include "squadre/gameBody.html" with object=l %}
{% endfor %}
</ul>

{% endblock content %}