<li>
<p>{{ object }}</p>
<p>Risultato: {{object.points_team1}}:{{object.points_team2}}</p>
<p>Vincitore: {{object.winner}}</p>
<p>Luogo: {{object.place}}</p>
<p>Data: {{object.date}}</p>
{% if "Super" in user.groups.all.0.name or user.is_staff %}
    <a href="{% url 'squadre:resgame' object.pk %}"><button type="button">Modifica risultato</button></a>
    <a href="{% url 'squadre:congame' object.pk %}"><button type="button">Convoca</button></a>
    <br>
{% endif %}
</li>