{% extends 'base.html' %}

{% block title %} Giocatore {{object.team.year}} {% endblock %}

{% block content %}

<h1> Dettagli Giocatore {{object.first_name}} {{object.last_name}}</h1>

<br>
<p>Nato il {{object.birthday}}</p>
<br>
<p>Attulmente gioca per <a href="{% url 'squadre:team' object.team.pk %}">{{object.team}}</a></p>
<br>
{% if object.picture != NULL and object.picture != '' %}
    <img src="{{object.picture.url}}" alt="immagine giocatore" height="150" width="100">
{% endif %}
{% endblock %}