{% extends 'base.html' %}

{% block title %} {{view.title}} {% endblock %}

{% block content %}

<h1> {{view.title}} </h1>
<div>
    {% for l in object_list|dictsort:"year"|dictsort:"name" %}
    <ul>
        <li><a href="{% url 'squadre:team' l.pk %}">{{l}}</a></li>
    </ul>
    {% endfor %}
    </div>

{% endblock %}