{% extends 'base.html' %}

{% block title %} Squadra {{object.year}} {% endblock %}

{% block content %}

<h1> {{object}} </h1>

<br>
{% if object.play.all.count < 1 %}
    <p>La squandra non ha giocatori</p>
{% else %}
    <ul>
    {% for s in object.play.all|dictsort:"last_name" %}
        <li>
            <a href="{% url 'squadre:player' s.pk %}">
                <img src="{{s.picture.url}}" alt="immagine giocatore" height="150" width="100">
            </a>
            <br>
            <a href="{% url 'squadre:player' s.pk %}">
                <p>{{s.first_name}} {{s.last_name}}</p>
            </a>
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}