{% extends 'base.html' %}

{% block title %} Annuncio {% endblock %}

{% block content %}

{% include "bacheca/annBody.html" %}

{% if object.comments.all.count > 0 %}
    <p>Commenti: </p>
    <ul>
    {% for c in object.comments.all|dictsort:"date" %}
        <li>
            {% include "bacheca/commBody.html" with id_p_a=object.pk url_name='delcommannouncement' comm=c %}
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}