<h1><a href="{% url 'bacheca:announcement' object.pk %}">
    {{ object.title }}
</a></h1>
{% if user.pk == object.user.pk or user.is_staff %}
    <a href="{% url 'bacheca:delannouncement' object.pk %}">
        <button type="button">Elimina annuncio</button> 
    </a>
{% endif %}
<br> 
<p>Annuncio pubblicato da: {{object.user.username}}</p>

<p>Caricato in data {{object.date}}</p>
<p>Descrizione: {{object.desc}}</p>

{% if object.teams.all.count > 0 %}
    <h3>Squadre taggate</h3>
    <ul>
    {% for t in object.teams.all|dictsort:"year"|dictsort:"name" %}
        <li>
            <p>{{t}}</p>
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% if user.is_authenticated %}
    <a href="{% url 'bacheca:addcommannouncement' object.pk %}">
        <button type="button">Commenta</button> 
    </a>
{% endif %}
  
