{% extends 'base.html' %}

{% block title %} Annunci {% endblock %}

{% block content %}

<h1> Lista annunci </h1>
{% if "Super" in user.groups.all.0.name or user.is_staff %}
    <a href="{% url 'bacheca:addannouncement'%}" ><button class="btn btn-success" type="button">Crea annuncio</button> </a>
{% endif %}

<form action="{% url 'bacheca:announcements' %}" method="POST"> {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Esegui"><br><br>
    <p>Pagina:</p>
    {% for i in range %}
        {% if i == page %}
            {{i}} 
        {% else %}
            <input type="submit" name="page" value="{{i}}">
        {% endif %}
    {% endfor %}
    <br>
</form>
<br>
<ul>
{% for l in object_list %}
    <li>
    {% include "bacheca/annBody.html" with object=l %}
    </li>
    {% if l.comments.all.count > 0 %}
        <h3>Commenti</h3>
        <ul>
        {% for c in l.comments.all|dictsort:"date"|slice:2 %}
            <li>
                {% include "bacheca/commBody.html" with id_p_a=l.pk url_name='delcommannouncement' comm=c %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
</ul>

{% endblock content %}