{% extends 'base.html' %}

{% block title %} {{view.title}} {% endblock %}

{% block content %}

<h1> {{view.title}} </h1>

<h2>Sicuro di voler approvare il post?</h2>
{% include "bacheca/postBody.html" %}

<form method="post">{% csrf_token %}
     
    <input type="submit" value="Conferma">
    <!-- TODO aggiungere pulsante annulla -->
</form>


{% endblock content %}