{% extends 'base.html' %}

{% block title %} {{view.title}} {% endblock %}

{% block content %}

<h1> {{view.title}} </h1>

<div>
    <table>
        <tr>
            <th>Utente</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Descrizione</th>
            <th>Immagine</th>
            <th>Autorizza</th>
        </tr>

        {% for l in object_list|dictsort:"user.username" %}
        <tr>
            <th><p>{{l.user.username}}</p></th>
            <th><p>{{l.user.first_name}}</p></th>
            <th><p>{{l.user.last_name}}</p></th>
            <th><p>{{l.desc}}</p></th>
            <th>
                {% if l.image != NULL and l.image != '' %}
                    <img src="{{l.image.url}}" alt="immagine post">
                {% endif %}
            </th>
            <th><a href="{% url 'bacheca:approvepost' l.pk %}"><button type="button">Autorizza</button></a></th>
        </tr>

        {% endfor %}
    </table>

</div>

{% endblock content %}