
{% if user.pk == comm.user.pk or user.is_staff %}
    <a href="{% url 'bacheca:'|add:url_name id_p_a comm.pk %}">
        <button type="button">Elimina commento</button> 
    </a>
    <br>
{% endif %}
<p>Commento di {{comm.user.username}} in data {{comm.date}}</p>
<p>Commento: {{comm.desc}}</p>
