{% extends 'base.html' %}

{% block title %} Post {% endblock %}

{% block content %}

<h1> Lista post </h1>
{% if user.is_authenticated %}
    <a href="{% url 'bacheca:addpost'%}"><button class="btn btn-success" type="button">Crea post</button> </a>
{% endif %}

<form action="{% url 'bacheca:posts' %}" method="POST"> {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Esegui"><br><br>
    <p>Pagina:</p>
    {% for i in range %}
        {% if i == page %}
            {{i}} 
        {% else %}
            <input type="submit" name="page" value="{{i}}">
        {% endif %}
    {% endfor %}
    <br>
</form>
<br>
<ul>
{% for l in object_list %}
    <li>
    {% include "bacheca/postBody.html" with object=l %}
    </li>
    {% if l.comments.all.count > 0 %}
        <h3>Commenti</h3>
        <ul>
        {% for c in l.comments.all|dictsort:"date"|slice:2 %}
            <li>
                {% include "bacheca/commBody.html" with id_p_a=l.pk url_name='delcommpost' comm=c %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
</ul>

{% endblock content %}

{% block js_files %}
{% load static %}
    <script type="text/javascript" src="{% static 'scripts/scriptLikeImage.js'%}"></script>
{% endblock js_files %}