{% extends 'base.html' %}

{% block title %} Post di {{object.user.username}} {% endblock %}

{% block content %}
{% include "bacheca/postBody.html" %}
{% if object.comments.all.count > 0 %}
<h3>Commenti</h3>
    <ul>
    {% for c in object.comments.all|dictsort:"date" %}
        <li>
            {% include "bacheca/commBody.html" with id_p_a=object.pk url_name='delcommpost' comm=c %}
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}
{% block js_files %}
{% load static %}
    <script type="text/javascript" src="{% static 'scripts/scriptLikeImage.js'%}"></script>
{% endblock js_files %}