<div class="card" style="width: 18rem;">
    {% if object.image != NULL and object.image != '' %}
        <img src="{{object.image.url}}" class="card-img-top" alt="immagine post">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            <a href="{% url 'bacheca:post' object.pk %}">
                Post di {{object.user.username}}
            </a>
        </h5>
        <p class="card-text">{{object.desc}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Caricato in data {{object.date}}</li>
        {% if object.team != None %}
            <li class="list-group-item">Squadra taggata: {{object.team}}</li>
        {% endif %}
        {% if object.game != None %}
            <li class="list-group-item">Partita taggata: {{object.game}}</li>
        {% endif %}
        {% if object.players.all.count > 0 %}
            <li class="list-group-item">
                <h6>Giocatori taggati</h6>
                <ul>
                {% for p in object.players.all|dictsort:"last_name" %}
                    <li>
                        <p>{{p.first_name}} {{p.last_name}}</p>
                    </li>
                {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>
    <div class="card-body">
        {% if user.pk == object.user.pk or user.is_staff %}
            <button href="{% url 'bacheca:delpost' object.pk %}" class="btn btn-danger" type="button">Elimina post</button> 
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'bacheca:addcommpost' object.pk %}">
                <button type="button">Commenta</button> 
            </a>
            <button class="btn btn-secondary btn-sm" type="button" onclick="sendLike({{object.pk}})"><3</button> 
            <button class="btn btn-secondary btn-sm" type="button" onclick="sendUnLike({{object.pk}})"><\3</button> 
        {% endif %}
    </div>
</div>