{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<h1>Esegui login</h1>

<form method="post"> {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Entra">
    </form>
{% endblock %}